* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

.login-page {
    background-color: #e4dada;
}
.login-page img {
    position: absolute;
    top: 15%;
    left: 43%;
}

.form-login {
    border-radius: 16px;
    position: absolute;
    top: 25%;
    left: 35%;
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #e3e3e3;
    text-align: left;
    margin: auto;
    padding: 40px;
    width: 30%;
    height: 60%;
    background-color: white;
}
.form-login h1 {
    font-size: 26px;
    margin-bottom: 30px;
}
.form-login label {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 17px;
    display: inline-block;
}
.form-login input[type=text], input[type=password] {
    width: 100%;
    border-radius: 4px;
    font-size: 15px;
    height: 40px;
    margin-bottom: 30px;
    border: 2px solid #e3e3e3;
    padding: 0 10px;
}
.form-login input[type=checkbox] {
    width: 20px;
    height: 20px;
    display: inline-block;
    padding-top: 15px;
    cursor: pointer;
}
.error-login {
    color: #ac2f33;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 30px;
}
.check {
    margin-left: 3px;
    vertical-align: middle;
}
.form-login input[type=submit] {
    color: #fff;
    background-color: #04aa6d;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    height: 50px;
    padding: 0 40px;
    text-align: center;
    width: 100%;
}

.header {
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    position: fixed;
    width: 100%;
    top: 0;
}
.logo img {
    padding: 15px 0 0 20px;
    margin-right: 20px;
}
.header ul {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
}
a {
    text-decoration: none;
    color: #000;
}
li {
    float: left;
}

.items {
    display: inline-block;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    height: 86px;
    width: 180px;
    font-size: 19px;
    font-weight: bold;
    text-transform: capitalize;
    color: #282a35;
    cursor: pointer;
}
li a:hover, .dropdown:hover .items {
    background-color: #04aa6d;
    color: white;
}
.logo a:hover {
    background: none !important;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 1px;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 17px;
    padding: 15px;
}
  
.dropdown-content a:hover {
    background-color: #04aa6d;
    color: white;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.intro {
    margin: 50px 0 0 40px;
}
.intro p {
    font-size: 29px;
    font-weight: bold;
    margin-left: 55px;
    margin-top: 135px;
}
.intro span {
    color:#04aa6d;
    font-size: 32px;
}
.banner {
    padding: 40px;
    width: 95%;
    margin-left: 15px;
    border-radius: 80px 0px;
    margin-top: 20px;
}
.imgintro {
    padding: 40px;
    width: 95%;
    margin-left: 15px;
}
table, th, td {
    border: 1px solid #dddddd;
    border-collapse: collapse;
}
.list-page {
    padding-top: 50px;
}
.list-page li {
    float: left;
}
.list-page li a {
    padding: 10px;
    border: 1px solid #cccccc;
    margin: 6px;
    border-radius: 6px 0;
    text-align: center;
}
.list-page li strong {
    padding: 10px;
    margin: 6px;
    border-radius: 6px 0;
    text-align: center;
    color: white;
    background-color: #000;
    cursor: pointer;
}
.list-page li a:hover {
    color: white;
    background-color: #000;
    transition: 0.2s;
    border: none;
}
.showListCategory {
    margin: 140px 80px 70px;
}
.showListCategory h1 {
    text-transform: capitalize;
    margin-bottom: 70px;
}
.showListCategory table {
    width: 100%;
}
.showListCategory th, .showListCategory td {
    height: 40px;
    text-align: center;
}
.editors {
    font-size: 21px;
}
.add-category {
    margin: 140px 80px 70px;
}
.add-category h1 {
    text-transform: capitalize;
    margin-bottom: 70px;
}
.form-add-category {
    border-radius: 16px;
    position: absolute;
    top: 30%;
    left: 20%;
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #e3e3e3;
    text-align: left;
    padding: 40px;
    width: 60%;
    height: 65%;
    background-color: #e4dada;
}
.form-add-category label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    text-transform: capitalize;
}
.form-add-category input[type=text] {
    width: 60%;
    border-radius: 4px;
    font-size: 15px;
    height: 50px;
    margin-bottom: 30px;
    border: 2px solid #e3e3e3;
    padding: 0 10px;
}
.form-add-category input[type=submit] {
    color: #fff;
    background-color: #04aa6d;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    height: 50px;
    padding: 0 40px;
    text-align: center;
    width: 60%;
    margin: -20px 150px 0;
}
.form-add-category input[type=submit]:hover {
    background-color: #044e33;
}
.error {
    font-size: 18px;
    color: #ac2f33;
    font-weight: bold;
}
.showListProduct {
    margin: 140px 80px 70px;
}
.showListProduct h1 {
    text-transform: capitalize;
    margin-bottom: 70px;
}
.showListProduct table {
    width: 200%;
}
.showListProduct th, td {
    text-align: center;
    padding: 10px;
}
.add-product {
    margin: 140px 80px 70px;
}
.add-product h1 {
    text-transform: capitalize;
    margin-bottom: 70px;
}
.form-add-product {
    border-radius: 16px;
    max-width: 100%;
    max-height: 100%;
    border: 2px solid #e3e3e3;
    text-align: left;
    padding: 40px;
    width: 100%;
    background-color: #e4dada;
}
.form-add-product label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    text-transform: capitalize;
}
.form-add-product input[type=text], select {
    width: 30%;
    border-radius: 4px;
    font-size: 15px;
    height: 50px;
    margin-bottom: 30px;
    border: 2px solid #e3e3e3;
    padding: 0 10px;
}
.form-add-product select option {
    padding: 10px;
}
.form-add-product input[type=file] {
    margin: 10px 0 30px;
    font-size: 15px;
}
.form-add-product textarea {
    padding: 10px;
    font-size: 15px;
    border-radius: 4px;
    border: 2px solid #e3e3e3;
}
.form-add-product input[type=submit] {
    color: #fff;
    background-color: #04aa6d;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 30%;
    margin: 0 450px;
}
.form-add-product input[type=submit]:hover {
    background-color: #044e33;
}
.showListOrder {
    margin: 140px 80px 70px;
}
.showListOrder h1 {
    text-transform: capitalize;
    margin-bottom: 70px;
}
.showListOrder table {
    width: 150%;
}
.showListOrder th, .showListOrder td {
    padding: 10PX;
    height: 50px;
    text-align: center;
}
.td-info-order:hover {
    background-color: #04aa6d;
}
.td-info-order:hover .detail-order{
    color: white;
}
.detailOrder {
    margin: 140px 80px 140px;
}
.detailOrder h1 {
    text-transform: capitalize;
    margin-bottom: 40px;
    font-size: 38px;
    text-align: center;
}
.info-order {
    margin-bottom: 50px;
}
.info-order p {
    margin-bottom: 20px;
    font-size: 27px;
}
.info-order p span {
    font-weight: bold;
}
.detailOrder table {
    width: 100%;
}
.detailOrder th, .detailOrder td {
    padding: 20px 5px;
    height: 40px;
    text-align: center;
    font-size: 18px;
}
.back-button {
    width: 20%;
    font-weight: 550;
    color: #F7F8F9;
    background-color: #221F20;
    font-size: 17px;
    line-height: 24px;
    padding: 15px 0;
    cursor: pointer;
    border-radius: 36px;
    border: 1px solid #221F20;
    margin-top: 50px;
    margin-left: 40%;
    text-transform: uppercase;
}
.back-button:hover {
    color: #221F20;
    background-color: #F7F8F9;
    transition: 0.15s;
}